{% extends "base.html" %}

{% block title %}
    HOME PAGE
{% endblock %}

{% block content %}
{% block search %}

{% endblock search %}


<style>
      .example_main_div div {
        border: 1px solid black;
        margin: 1px;
        padding: 1px;
      }
      .example_toolbar {
        float: left;
        width: 33.3333%;
        height: 100px;
      }
      .example_content {
        height: 100px;
      }
    </style>

<a href="{% url 'home' %}"><h2>Home</h2></a>
<a href="{% url 'authapp-logout' %}">LOGOUT</a><br/><br/>
    CATEGORY -
    <a href="{% url 'category-filter' pk=1 %}"><button>Sports</button></a>
    <a href="{% url 'category-filter' pk=2 %}"><button>Herbs</button></a>
    <a href="{% url 'category-filter' pk=3 %}"><button>Other</button></a>
     <a href="{% url 'category-filter' pk=4 %}"><button>Turn off</button></a>
   <br/>


{% for good in goods %}
    <div>

        {% if good.images %}
        <br/><br/>
            <img src="{{good.images.url }}" alt="{{good.name}}">

        {% endif%}

       <div> <h2><a href="{% url 'good-detail' good_id=good.id %}">{{good.name}} </a>Price Only today - {{good.price}}</h2></div>


    </div>
{% endfor %}



{% endblock content %}



