{% extends "base.html" %}

{% block title %}
    Товар {{good.name }}

{% endblock %}



{% block content %}



<a href="{% url 'home' %}"><h2>Home</h2></a>



    <div>
        {% if good.images %}
            <img src="{{good.images.url }}" alt="{{good.name}}">
        {% endif%}
        <h3>{{ good.name }} </h3>
    </div>
<h3>
    <li>Price - {{ good.price }} </li>
    <li>Brand - {{ good.brand }} </li>
    <li>Category - {{ good.category }} </li>

    <li>Count Reviews - {{ goodpricerating.reviews }} </li>
    <li>Availability - {{ goodpricerating.availability }} </li>
    <li>Average_rating - {{ goodpricerating.category }} </li>


</h3>
<br/>

<h2>Overview:</h2>
<h3>

     <li>{{ good.overview }} </li>
</h3>

</br></br></br></br>


       <div>
           <h2> {{ goodpricerating.reviews }} </h2>


       </div>
















<h2>ORDER</h2>
{% if sent %}
<h2>Thank you for order</h2>
{% endif %}


    <form method="POST">
        {%csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send order">

    </form>




{% endblock %}

